<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Mechanic Maid</h1>
  <p class="lead">Solving problems for mechanics.</p>
  <p><a class="btn btn-lg btn-success" href="/aircraft" role="button">Start now</a></p>
</div>
