<ion-view title="{{ ac.Tailnumber }}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    	<ion-card>
		  <ion-card-content>
		    <p class="card-title">
		      Status: {{ ac.status }}
		    </p>
		    <p>
		      Type: {{ ac.type }}
		    </p>
		    <p>
		      Location: {{ ac.location }}
		    </p>
		    <p>
		      Condition: {{ ac.condition }}
		    </p>
		    <p>
		      Arrived: {{ ac.arrived }}
		    </p>
		    <p>
		      Name: {{ ac.name }}
		    </p>
		    <p>
		      Config: {{ ac.config }}
		    </p>
		    <p>
		      Etops: {{ ac.etops }}
		    </p>
		    <p>
		      Cockpit: {{ ac.cockpit }}
		    </p>
		    <p>
		      Lightning: {{ ac.lightning }}
		    </p>
		    <p>
		      IFE: {{ ac.ife }}
		    </p>
		    <p>
		      Wifi: {{ ac.wifi }}
		    </p>
		  </ion-card-content>
		</ion-card>

    </ion-content>
</ion-view>
