<ion-view title="Employees">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="getData()">
      </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="employee in employees" ng-click="viewEmployee({{ employee.id }})" class="item-thumbnail-left">
                <img ng-src="http://lorempixel.com/100/100/people/{{employee.id}}">
                <h2>{{ employee.name }}</h2>
                <p>{{ employee.phone }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
