<ion-view title="Home">
	<ion-content overflow-scroll="true" padding="true" class="has-header">
		<ion-list>
			<ion-item ui-sref="menu.arrivals" menu-close="">Arrivals</ion-item>
			<ion-item ui-sref="menu.departures" menu-close="">Departures</ion-item>	
			<ion-item ui-sref="menu.fleetList" menu-close="">Fleet List</ion-item>
			<ion-item ui-sref="menu.contacts" menu-close="">Contacts</ion-item>
			<ion-item ui-sref="menu.myInfo" menu-close="">My Info</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
