<ion-view title="Home">
	<ion-content overflow-scroll="true" padding="true" class="has-header">
		<ion-list>
			<ion-item ui-sref="menu.flightLegs" menu-close="">Flight Legs</ion-item>
			<ion-item ui-sref="menu.fleetList" menu-close="">Fleet List</ion-item>
			<ion-item ui-sref="menu.employees" menu-close="">Employees</ion-item>
			<ion-item ui-sref="menu.contacts" menu-close="">Contacts</ion-item>
			<ion-item ui-sref="menu.myInfo" menu-close="">My Info</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
